body {
  background-color: cadetblue;
}

h1 {
  color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 300%;
}

h2 {
  color: darkslategrey;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p {
  color: darkblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 160%;
}
